/* Principal */

body{
    background: url('/img/background_home.jpg');
    background-attachment: fixed;
}

/* Encabezado */

.nav_home{
    background: rgba(255, 255, 255, 0.31);
}

.header_wrapper{
    position: relative;
    height: 4em;
}

.logo_ark{
    background-image: url(../img/logo_header.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 128px;
    margin: 0.3em;
    background-size: 90%;
    cursor: pointer;
    vertical-align: middle;
    height: 82px;
}

.logo_menu{
    background-image: url(../img/menu_logo.png);
    width: 170px;
    height: 70px;
    margin: -0.4em;
    background-size: 100%;
}
