/* Principal */

body{
    background-image: url('/img/background_home.png');
    background-color: #f3f3f3;
    background-attachment: fixed;
}

/* Generales */

.hr_line{
    border-top: 1px solid #DDD;
    border-bottom: none;
    margin: 8px 0 16px;
}

.v-middle{vertical-align: middle;}

/* Encabezado */

.nav_home{
    background: rgb(73, 169, 212);
    box-shadow: none!important;
    border-bottom: 2px solid #368aaf;
}

.header_wrapper{
    position: relative;
    height: 4em;
}

.logo_ark{
    background-image: url(../img/logo_header.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 128px;
    margin: 0.3em;
    background-size: 90%;
    cursor: pointer;
    vertical-align: middle;
    height: 82px;
}

.logo_menu{
    background-image: url(../img/menu_logo.png);
    width: 170px;
    height: 70px;
    margin: -0.4em;
    background-size: 100%;
}

.principal{
    width:90%;
    margin: 0 auto;
}

/* Contenedores */

.bg_white{
    background: rgb(255, 255, 255);
    border: 2px solid rgb(73, 169, 212);
    padding: 1.5em!important;
    box-sizing: border-box;
    width: 99%;
    margin-bottom: 0.5em;
}

/* Blog */

.st_title{
    display: inline-block;
}

.st_text{
    background: #60cee9;
    border: 1px solid #3ea9c4;
    font-weight: bold;
    padding: 8px 20px;
    margin-left: -40px;
    color: #FFF;
    float: left;
    text-transform: uppercase;
}

.st_green{background: #50be36;border: 1px solid #36a91b;}
.date_pink{color:#df588a};

.title_blog{
    float: left;
    width: 100%;
    margin-bottom: 0.5em;
}

.avatar-left{
    background: #f5f5f5;
    padding: 0.4em!important;
    border: 1px solid #e5e5e5;
    float: left;
    border-radius: 0 0 14px 0;
    margin: 0!important;
}

.s_avatar_img{
    width:56px;
    height:56px;
}

.arrow{
    display: inline-block;
    margin-left: -0.6em;
    margin-top: 0.9em;
    float: left;
}

.arrow i{color:#f5f5f5;}

.title_right{
    background: #58bfd8;
    border: 1px solid #50abc2;
    padding: 1em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
}

.title_date{
    display: inline-block;
    cursor: pointer;
}

.left_1em{margin-left:1em}

.cont_blog{
    display: inline-block;
    background: #f3f3f3;
    padding: 0.8em 1em;
    color: #616161;
    margin: 5px 0 0 15px;
    border-left: 3px solid #2eb6b7;
}

.cont_blog img{
    max-width: 100%;
}

.comment-i{
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #7e7e7e;
    cursor: pointer;
    transition: 0.3s;    
    padding: 5px 10px;
    background: #f1efef;
}

.comment-i-l:hover, .comment-i-l-activo{
    border: 1px solid #e55d5d;
    color: #ffffff;
    transition: 0.3s;
    background: #ff7373;
}

.comment-i-c:hover, .comment-i-c-activo{
    border: 1px solid #03A9F4;
    color: #ffffff;
    transition: 0.3s;
    background: #00BCD4;
}

.footer_blog{
    display:inline-block;
    width: 100%;
}

.info_cont{
    margin-top: 8px;
    font-size: 13px;
}


/* Comentarios */

.title_comments{
    font-weight: bold;
    color: #e05286;
}

.avatar_comments{
    position: absolute;
    width: 48px;
    border: 1px solid #f789b1;
    border-left: 3px solid #e05286;
    border-radius: 5px 0 0 5px;
    height: 48px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.cont_comments{
    padding: 10px;
    max-width: 85%;
    margin-top: 5px;
    word-wrap: break-word;
    margin-left: 5px;
    border-left: 2px solid #ef7ca6;
}

.publ_comment{
    margin: 0 !important;
}

.pub_commt{
    border-color: #49a9d4;
    color: #49a9d4;
}

.pub_user{
    border-color: #58b308;
    color: #58b308;
}

.pub_user img{
    border-color: #58b308;
    color: #58b308;
}
 
.pub_user span{
    color: #58b308!important;
}

.btn_c{
    background-color: #349fcf!important;
    font-size: 14px;
    text-transform: capitalize;
}

/* Panel derecho */

.special-right{
    color: #FFF;
    background-color: #d8a8da;
    background-image: url(/img/extras/shop.png);
    border-left: 3px solid;
    background-position-y:65px;
    border-color: #f06ef9;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.08);
    font-weight: bold;
    padding: 15px;
    width: 100%;
    transition: 0.3s;
    display: block;
}

.special-right:hover{
    transition: 0.3s;  
    border-left: 5px solid #b7b7b7;
}

.special-right i{
    font-size: 16px;
}    

.s_blue{
    background-color: #7e94be;
    background-position-y: -18px;    
    border-color: #6ec4f9;
}

.s_orange{
    background-color: #ce9a49;
    border-color: #f9b66e;
    background-position-y:-65px;    
}

/* Footer */

.links_footer a{
    font-size:13px;
    vertical-align: middle;
    margin-right:5px;
    color: #a9a9a9;
}