/* Header */

.navbar-fixed {
    height: 56px!important;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 56px!important;
    line-height: 56px!important;
}

/* Menú */

.nav-txt-admin a {
    color: rgba(255, 255, 255, 0.89);
    font-weight: bold;
    text-shadow: 1px 1px rgba(193, 193, 193, 0.08);
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.5s;
}

.nav-txt-admin-av{
    color: rgba(255, 255, 255, 0.89);
    padding: 0 15px 0;
    font-weight: bold;
    text-shadow: 1px 1px rgba(193, 193, 193, 0.08);
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    transition: 0.5s;
}

.nav-txt-admin a:hover {
    box-sizing: border-box;
    transition: 0.5s;
}

.nav-menu-admin i{
    line-height: 58px!important;
}

.nav-txt-admin li:hover{
    border-bottom: 2px solid rgba(66, 152, 190, 0.27);
    cursor: default;
}

.nav-menu-admin{
    padding: 0 12px;
    border-bottom: 2px solid #3084aa;
    transition: 0.5s;
    cursor: pointer;
    background: #3084aa;
    color: #f5f5f5;
}


.nav-menu-admin:hover{
    color: #797979;
    border-color: #3084aa;
    transition: 0.5s;
    background: #f1f1f1;
}

.menu-user-nav{
    background: #4b92b2;
    display: inline-flex;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px rgba(193, 193, 193, 0.08);
    text-transform: uppercase;
    font-size: 12px;
    height: 56px!important;
}

.menu-user-nav i{color: #FFF;}

.show-m{ 
    display: none;
    margin-right: 1em;
}

.subheader-txt{
    background: #ececec;
}

.avatar-menu{
    height: 56px;
    border-left: 3px solid #00ce71;
}

.avatar-nav{
    width: 100%;
    border-radius: 5px 0 0 5px;
    border: 1px solid #af7bc0;
    border-left: 3px solid #af7bc0;
}

.nav-txt-admin{
    margin-right: 1em;
}

.nav-txt-admin li{
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.side-nav .userView {
    padding: 1em 1em 0!important;
}

.side-nav .userView a{
    background: transparent;
}


/* Aparte */

.show-m{ 
    display: none;
    margin-right: 1em;
}

#dropdown1{
    width: 135px!important;
}

.lista-icon{
    color: rgb(103, 52, 101);
    background: rgba(0, 0, 0, 0.05);
    padding: 3px;
    border-left: 3px solid #eca5f9;
}

.opciones-nav a{color: #318ed4;border-left: 0px solid #318ed4;transition: 0.3s;font-size: 12.5px;}
.opciones-nav a:hover{background: #f1f1f1;border-left: 3px solid #318ed4;transition:0.3s}
.txt-nav-menu i{color: #318ed4!important;}
.half-admin{background: rgba(0, 0, 0, 0.17);}
.txt-nav-menu{text-transform: uppercase;}

/* Buscador */

.buscador-simple{
    margin: 0 auto!important;
    margin-top: 2px!important;
    width: 95%!important;
    border-radius: 0 10px 10px 0!important; 
    padding: 0 10px!important;
    background: #FFF!important;
    border: 1px solid #dedede!important;
    border-left: 3px solid #67c7be!important;
}

.bar-botones{
    margin: 8px 0;
}


/* Login y registro */

.cont-login{
    padding: 1em!important;
    color: #9e9e9e;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin: 0 auto;
    background: #FFF;
    margin-top: 2em;
    margin-bottom: 2em;
}

.line{
    margin-top: 5px;
    margin-bottom:10px;
    display: block;
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
}

.line-lg{
    margin-top: 20px;
    margin-bottom:10px;
    display: block;
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
}

.line-spec{
    margin-top: 5px;
    margin-bottom:20px;
    display: block;
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
}


.mrg-btn{
    margin-top:10px;
}


.nav-back{
    margin-left: 10px;
    font-size: 2.5em!important;
    background: #4195a2;
    padding: 0 10px;
}

/* Especiales */

.st-subtitle{
    width: 100%;
    text-align: center;
    padding: 0.8em;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    color: #949494;
    background: #f5f5f5;
    border-bottom: 2px solid #5cafdc;
}

.btn-complete{
    text-transform: capitalize!important;
    letter-spacing: normal;
    width:100%;
}

.btn-forms{background: #4195a2;}

    /* Pantalla especial 1 */

    @media only screen and (max-width: 800px) {
        .info_cont{
            display:none;
        }
    }

    /* Pantalla mediana */

    @media only screen and (max-width: 992px) {
        .show-m{
            display: block;
        }

        .title_date{
            display: none;
        }
    }

    /* Pantalla pequeña */

    @media only screen and (max-width: 600px) {
        .avatar-menu{
            height: 56px;
        }
        
        .menu-user-nav{
            height: 56px!important;
        }

        .info_cont{
            display:block;
        }
    }